* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display;
}

.main-container{
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
  width: 100%;
}
body {background-color: #f1f4f9};

